alias ssh-cp-uat="ssh -i ~/.ssh/steven.pem steven-singlife@10.15.1.42 -p 8822"
alias ssh-ap-uat="ssh -i ~/.ssh/steven.pem steven-singlife@10.15.3.124 -p 8822"
alias docker-node-bash="docker exec -it node.singlife.docker bash"
alias portals="cd /Users/steven/projects/portals"
alias refprof="source ~/.bash_profile"
alias delbranch='git branch | grep -v "development\|staging\|production" | xargs git branch -D'
